[Unit]
Description=Generate OCSP responses for nginx, unprivileged
After=nginx-create-ocsp-responses.service network.target nginx.service

[Service]
Type=oneshot
User=unpriv1
Group=unpriv1
ExecStart=/usr/local/bin/nginx-renew-ocsp-responses
CapabilityBoundingSet=
LockPersonality=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true
PrivateIPC=true
PrivateTmp=true
ProcSubset=pid
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=strict
ReadWritePaths=/etc/letsencrypt/ocsp-cache
RemoveIPC=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@obsolete
